Presenca.esproj/user.pedro.espressostorage
Presenca.esproj/Project.espressostorage
Presenca.sublime-project
Presenca.sublime-workspace
.idea
.DS_Store
.htaccess
error_log
uploads/
connection.php
social.php