<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.estudiotrilha.inevent"
    android:versionCode="8"
    android:versionName="1.2.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <!-- Internet Access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Map Permissions -->
    <permission
        android:name="com.estudiotrilha.garca.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.estudiotrilha.garca.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- External storage access for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Parse (Push Notifications) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- InEvent Application -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Google Maps -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library android:name="com.google.android.maps" />

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_appId" />
        <activity android:name="com.facebook.LoginActivity" />

        <!-- Parse (Push Notifications) -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!-- InEvent (Push Notifications) -->
        <receiver
            android:name="com.estudiotrilha.inevent.receiver.PushNotificationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.estudiotrilha.inevent.PUSH_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <!-- Splash Screen -->
        <activity
            android:name="com.estudiotrilha.inevent.app.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Settings -->
        <activity
            android:name="com.estudiotrilha.inevent.app.PreferencesActivity"
            android:label="@string/title_preferences"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.estudiotrilha.inevent.app.UserSettingsActivity" />

        <!-- About -->
        <activity
            android:name="com.estudiotrilha.inevent.app.AboutActivity"
            android:label="@string/title_about"
            android:screenOrientation="portrait" />

        <!-- Login -->
        <activity
            android:name="com.estudiotrilha.inevent.app.LoginActivity"
            android:launchMode="singleTop" />

        <!-- Event Marketplace -->
        <activity android:name="com.estudiotrilha.inevent.app.EventMarketplaceActivity" />

        <!-- Event -->
        <activity android:name="com.estudiotrilha.inevent.app.EventActivity" />

        <!-- EventActivity Detail -->
        <activity android:name="com.estudiotrilha.inevent.app.EventActivityDetailActivity" />

        <!-- InEvent Content Provider -->
        <provider
            android:name="com.estudiotrilha.inevent.provider.InEventProvider"
            android:authorities="com.estudiotrilha.inevent.provider"
            android:exported="false"
            android:label="InEvent Data Provider" />

        <!-- Services -->
        <service android:name="com.estudiotrilha.inevent.service.UploaderService" />
        <service android:name="com.estudiotrilha.inevent.service.DownloaderService" />
    </application>

</manifest>