@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(webfonts/openSans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(webfonts/openSans-Bold.woff) format('woff');
}

html {
	color: black;
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	font: 16px "MuseoSans-500", "Open Sans", "Lucida Grande", Lucida, Verdana, sans-serif;
	background-color: #F8F8F8;
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	min-height: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
}

a {
	text-decoration: none;
	color: #637FDB;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

textarea, input {
	outline: none;
}

/* @group Generic */

.none {
	display: none;
}

.pointer {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.placeholder {
	color: #a9a9aa;
}

.centralize {
	text-align: center;
}

.red {
	border-color: #D64040;
}

.green {
	border-color: #469446;
}

.yellow {
	border-color: #F0F057;
}

.silver {
	border-color: #CCC;
}

.white {
	border-color: whiteSmoke;
}

.black {
	border-color: #353535;
}

.relative {
	position: relative;
}

#file-uploader {
	display: none;
}

.singleButton {
    padding: 2px 6px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-size: 100%;
    cursor: pointer;
	text-align: center;
	margin: 0px auto;
}

.singleButton:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.singleButton:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

.singleButtonInvisible {
	display: none;
}

.singleInput {
	font-size: 100%;
	background-color: rgba(0, 0, 0, 0);
	display: inline;
	padding: 3px 5px;
	text-align: center;
	border: 1px solid #BDBDBD;
	box-shadow: inset 0 1px 1px #FFF;
}

/* @end */

/* @group Bar */

#header {
	width: 100%;
	height: 44px;
	background-color: white;
	-webkit-box-shadow: 0 1px 5px #C9C9C9;
	box-shadow: 0 1px 5px #C9C9C9;
}

.barWrapper {
	position: fixed;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	z-index: 25;
}

.bar {
	color: #DBDBDB;
	width: 960px;
	z-index: 995;
	height: 44px;
	text-align: center;
	padding: 0;
	margin: 0 auto;
	position: relative;
}

.loginBar .barWrapper {
	max-width: 960px;	
}

.bar.top {
	top: 0;
	left: 0;
	right: 0;
}

.bar.bottom {
	position: relative;
	line-height: 44px;
}

.bar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.bar li {
	margin-left: -5px;
	height: 100%;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}

.bar.top > li:hover {
	color: #a8a6a6;
}

.bar a {
	color: inherit;
}

.bar .leftBar {
	float: left;
	text-align: left;
}

.bar .leftBar li {
	line-height: 44px;
	padding: 0 20px;
}

.bar .rightBar {
	float: right;
	position: absolute;
	right: 0;
	text-align: right;
}

.loginBar .rightBar {
	padding: 0;
	width: 100%;
}

.bar .rightBar p {
	margin: 0;
	padding: 0;
}

.bar.top .rightBar > li,
.bar.top .rightBar > a > li {
	padding: 0;
	line-height: 44px;
	font-size: 90%;
}

.loginBar.top .rightBar > li,
.loginBar.top .rightBar > a > li{
	font-size: 100%;	
}

.bar .first {
	width: 150px;
	text-align: right;
	float: right;
}

.bar .first:hover {
	color: white;
}

.bar img.downArrow {
	position: relative;
	top: 2px;
	left: 2px;
}

.loginBar .rightBar .secondary {
	line-height: normal;
	height: auto;
	font-size: 100%;
}

.bar .secondary {
	position: absolute;
	top: 44px;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 100;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0 0 20px 20px;
	-moz-box-shadow: 1px 1px 5px #000000;
	-webkit-box-shadow: 1px 1px 5px #000000;
	box-shadow: 1px 1px 5px #000000;
	text-align: center;
	width: 100%;
	display: none;
	left: 0;
	cursor: default;
}

.bar .secondary > div {
	margin: 0;
	padding: 2% 2% 1% 2%;
	font-size: 140%;
}

.bar .secondary > div input[type="text"],
.bar .secondary > div input[type="password"]  {
	display: inline-block;
	padding: 10px 15px;
	width: 30%;
	background-color: #DDD;
	margin: 0;
	color: #4D4D4D;
	text-align: left;
	font-size: 100%;
	border: 1px solid #A2A2A2;
}

.bar .secondary .lostPassword {
	margin: 0;
	padding: 0;
	text-align: left;
	color: black;
	font-size: 50%;
	display: inline-block;
	width: 100%;
}

.bar .secondary .facebookBox {
	border-right: 1px solid #DDD;
	width: 30%;
	float: left;
}

.bar .secondary .facebookBox img {
	height: 48px;
	cursor: pointer;
}

.bar .secondary .middleLine {
	font-size: 80%;
	font-weight: bold;
	line-height: normal;
	position: absolute;
	left: 32.2%;
	top: 35%;
	width: 30px;
	height: auto;
	margin: 0 auto;
	border-radius: 40px;
	padding: 3px;
	border: 1px solid #575757;
	background-color: #F7F7F7;
	box-shadow: inset 1px 1px 0 #FFF;
	color: #333;
}

.bar .secondary .memberBox {
	overflow: hidden;
}

.bar .secondary .memberBox .singleButton {
	padding: 1px 15px;
	height: 48px;
}

.bar .memberBox .errorMessage {
	margin: 10px 0 0 0;
	float: left;
	width: 40%;
	color: #CA0505;
}

.bar .memberBox .errorHint {
	margin: 10px 0 0 0;
	color: #333;
	font-size: 50%;
	line-height: 12px;
	overflow: hidden;
	padding-top: 5px;
}

.bar .memberBox .forgot {
	color: #333;
	display: block;
	font-size: 80%;
	margin-right: 5%;
	text-align: right;
}

.bar .rightBar .anchorInnerHock {
	padding: 0 20px;
}

.bar .rightBar .anchorInfo {
	border-right: 1px solid #333;
	-moz-box-shadow: -1px 0 #000 inset;
	-webkit-box-shadow: -1px 0 #000 inset;
	box-shadow: -1px 0 #000 inset;
	position: relative;
}

.bar .anchorInfo:hover, .bar .anchorInfoSelected {
	background-color: black;
}

.bar .anchorInfo:hover .anchorInnerHock, .bar .anchorInfoSelected .anchorInnerHock {
	position: relative;
	top: 1px;
}

.bar .anchorBox {
	background-color: #F7F7F7;
	color: #333;
	position: absolute;
	right: 0;
	top: 120%;
	display: none;
	text-align: center;
	height: auto;
	border-radius: 5px;
	min-width: 100%;
	box-shadow: 0px 2px 6px 0px #706F6F;
	border: 1px solid #E4E2E2;

}

.bar .anchorBox::before, .bar .anchorBox::after {
	position: absolute;
	width: 0;
	height: 0;
	content: "";
	border-style: solid;
	border-color: transparent;
	pointer-events: none;
}

.bar .anchorBox::before {
	top: -9px;
	right: 20px;
	border-width: 0 10px 10px 10px;
	border-bottom-color: #E4E2E2;
}

.bar .anchorBox::after {
	top: -7px;
	right: 21px;
	border-width: 0 9px 9px 9px;
	border-bottom-color: #F7F7F7;
}

.bar .anchorBox li {
	display: block;
	padding: 15px;
	line-height: 0px;
	margin: 0;
	border-bottom: 1px solid #E0E0E0;
	-moz-box-shadow: 0px 1px white inset;
	-webkit-box-shadow: 0px 1px white inset;
	box-shadow: 0px 1px white inset;
}

.bar .anchorBox a:last-child li {
	border: 0;
	box-shadow: 0 0;
}

.bar .anchorBox li:hover {
	background-color: #FFF;
}

.bar .anchorBox input {
	padding: 10px 20px;
	border: 1px solid #A2A2A2;
	font-size: 90%;
	margin: 0px 10px;
	text-align: center;
	width: 200px;
}

.bar .anchorBox .header,
.bar .anchorBox .header:hover {
	color: #646464;
	background-color: #E9E9E9;
	font-size: 80%;
	box-shadow: 0 0;
}

.bar .anchorBox input:first-child {
	border-radius: 10px 10px 0 0;
}

.bar .anchorBox input:nth-child(2) {
	border-top: 0;
	border-radius: 0 0 10px 10px;
}

.bar .anchorBox input:focus {
	background-color: whiteSmoke;
}

.bar .anchorBox .submitButton {
    padding: 8px 15px;
	background-color: #3B7BAD;
	color: #F7F7F7;
	border: solid 1px #214663;
    font-size: 100%;
	width: 90%;
	margin: 10px auto;
}

.bar .anchorBox .submitButton:hover {
	background-color: #295577;
}

/* @group Location */

.bar .locationInfo {
	border-radius: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

.bar .locationInfo .collectionOptions {
	position: relative;
	border: 0;
	border-radius: 0;
}

.bar .locationInfo .collectionOptions li {
	padding: 20px;
}

.bar .locationInfo .dynamicInput .iconWrapper {
	display: inline-block;
	width: 32px;
}

.bar .locationInfo .dynamicInput img {
	width: 32px;
	vertical-align: middle;
}

.bar .locationInfo .dynamicInput .searchIcon {
	display: none;
	width: 24px;
}

.bar .locationInfo .dynamicInput input {
	color: inherit;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	font-size: inherit;
	display: inline-block;
	vertical-align: middle;
	min-width: 200px;
}

.bar .locationInfo li {
	text-align: left;
}

/* @end */

/* @group Login */

.bar .loginBox {
	min-width: 160%;
}

.bar form.loginBox {
	padding: 15px;
	line-height: 0px;
}

.bar .loginBox .errorMessage {
	line-height: 20px;
	margin-top: 10px;
	color: #333;
}

.bar .loginBox .errorHint {
	line-height: 15px;
	margin: 5px 0;
	color: #969696;
	font-size: 70%;
}

.bar .loginBox > li:first-child {
	border-bottom: 1px black solid;
}

.bar .loginBox li:first-child:hover {
	background-color: inherit;
}

.bar .loginBox .accountType {
	color: #646464;
	line-height: 20px;
}

.bar .loginBox .accountType a {
	font-size: 80%;
	color: #2347B8;
}

.bar .loginBox .seeAccount {
	background-color: #3F63D5;
	border: 1px solid #3351B3;
	border-radius: 4px;
	padding: 4px;
	line-height: 20px;
}

.bar .loginBox .seeAccount:hover {
	background-color: #3351B3;
	text-decoration: none;
}

/* @end */

/* @end */

/* @group Content */

#content {
	position: relative;
	padding-bottom: 44px;
}

/* @group Page */

.pageContent {
	color: #333;
	width: 960px;
	min-height: 50px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 70px;
}

.fullPageContent {
	width: 100%;
	overflow: hidden;
	margin-bottom: 0px;
	background-color: #FDFDFD;
}

.pageContent .boardContent {
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	position: relative;
	border: 1px solid #BDBDBD;
	border-radius: 10px;
	background-color: #FDFDFD;
}

.fullPageContent .boardContent {
	border-radius: 0px;
	border-top: none;
	border-right: none;
	border-bottom: none;
}

.pageContent .placerContent {
	width: 20%;
	float: left;
	height: 100%;
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.22);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.22);
}

.pageContent .realContent {
	min-height: 200px;
}

.pageContent .blackSnowflake {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.9;
	background-color: black;
	z-index: 125;
}

.pageContent .shrinkInnerWrapper {
	font-size: 110%;
	padding: 15px 40px;
	text-align: justify;
}

.pageContent .tightWrapper {
	margin: 0 auto;
	width: 80%;
}

.pageContent .titleContent {
	color: #2E2E2E;
	font-size: 230%;
	font-weight: bold;
	text-align: left;
	margin: 0.8em 0px 0.4em 0px;
	text-shadow: #B4B4B4 1px 1px 0px;
}

.pageContent textarea, .pageContent input {
	font-family: inherit;
}

.pageContent table, tr, td {
	border-spacing: 0px;
	border-collapse: collapse;
}

.pageContent table {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.pageContent tbody tr:nth-child(2n+1) {
	background-color: #E6E6E6;
}

.pageContent tbody {
	border-top: 1px solid #818181;
	border-bottom: 1px solid #818181;
}

.pageContent td {
	padding: 10px;
	max-width: 400px;
}

.pageContent .searchEmptyResult {
	border-bottom: 1px solid #333;
	width: 70%;
	position: relative;
	top: 30px;
	margin: 0 auto !important;
	font-size: 130%;
}

.pageContent .searchBox {
	display: none;
}

.pageContent .navigator {
	display: inline-block;
}

.pageContent .navigator li {
	border-bottom: 1px solid #A2A2A2;
	padding: 10px;
	margin: 20px;
	font-size: 150%
}

.pageContent .navigator li:hover {
	color: #333;
	border-bottom: 1px solid #333;
}

.pageContent .navigator a:hover {
	text-decoration: none;
}

.pageContent .navigator .navigatorHint {
	font-family: monospace;
	white-space: pre;
	font-size: 100%;
	font-weight: bold;
}

.pageContent .navigator .navigatorHintRight {
	margin: 0;
}

.pageContent .navigator .navigatorHintLeft {
	margin: 0;
}

/* @end */

/* @group Menu */

.menuContent {
	padding: 0px 20px;
	background-color: #EEEEEE;
	text-shadow: 0 1px 0 white;
	-webkit-box-shadow: inset 0 1px 0 white, 0 1px 5px #C9C9C9;
	box-shadow: inset 0 1px 0 white, 0 1px 5px #C9C9C9;
	border-bottom: 1px solid #B1B1B1;
	height: 44px;
	top: 44px;
	position: fixed;
	box-sizing: border-box;
	z-index: 24;
	display: none;
}

.menuContent.notFixed {
	height: auto;
	position: static;
}

.menuContent img {
	height: 26px;
	width: 26px;
	margin: 10px 5px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}

.menuContent .leftBoard {
	float: left;
}

.menuContent .rightBoard {
	float: right;
}

/* @end */

/* Index */

#homeContent {
	background-color: white;
	width: 100%;
	position: fixed;
	height: 100%;
	color: #A8A8A8;
}

#homeContent .upperDeck {
	background-color: transparent;
	height: 200px;
	position: fixed;
	top: 0;
	z-index: 20;
	width: 100%;
}

#homeContent .middlePort {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 20%;
	left: -100%;
	width: 36%;
	z-index: 20;
	padding: 2% 4%;
	border-radius: 30px;
}

#homeContent .middlePort .trigger {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	cursor: pointer;
}

#homeContent .middlePort .trigger .close {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 10px;
	right: 15px;
	opacity: 0.6;
}

#homeContent .middlePort .trigger .open {
	display: none;
	width: 48px;
	height: 48px;
	position: relative;
	top: 40%;
	right: 5px;
}

#homeContent .middlePort .description {
	margin-top: 0;
}

#homeContent .middlePort ul {
	width: 100%;
	padding: 15px 0;
}

#homeContent .middlePort li {
	display: block;
	width: 49%;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

#homeContent .middlePort img {
	width: 90%;
	margin-top: 5px;
}

#homeContent .section {
	height: 100%;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#homeContent .deck {
	background-color: rgba(0, 0, 0, 0.8);
	height: 200px;
	position: absolute;
	bottom: 44px;
	width: 100%;
	z-index: 21;
	display: none;
}

#homeContent .leftBox {
	float: left;
	width: 20%;
	padding: 2%;
}

#homeContent .rightBox {
	overflow: hidden;
	padding: 2% 4% 2% 2%;
}

#homeContent .title {
	font-size: 180%;
	width: 85%;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
}

#homeContent .bigTitle {
	font-size: 300%;
}

#homeContent .description {
	padding-top: 10px;
	font-size: 150%;
	color: #DBDBDB;
}

#homeContent .lateralContent {
	position: relative;
	padding: 20px 15px;
}

#homeContent .deviceImage {
	position: relative;
}

#homeContent .deviceContent {
	position: absolute;
	background-color: #FFF;
	overflow: hidden;
}

/* Device screen ratios */

/*	PORTRAIT 	*/
#iphone-Portrait .deviceImage {
	width: 400px;
	height: 709px;
	left: -30px;
	top: -10px;
}

#iphone-Portrait .deviceContent {
	top: 165px;
	left: 66px;
	width: 240px;
	height: 357px;
}

#iphone5-Portrait .deviceImage {
	width: 400px;
	height: 640px;
	left: -30px;
	top: -10px;
}

#iphone5-Portrait .deviceContent {
	top: 138px;
	left: 76px;
	width: 218px;
	height: 385px;
}

#ipad-Portrait .deviceImage {
	width: 400px;
	height: 564px;
	left: -30px;
	top: 70px;
}

#ipad-Portrait .deviceContent {
	top: 158px;
	left: 41px;
	width: 289px;
	height: 386px;
}

#ipadMini-Portrait .deviceImage {
	width: 400px;
	height: 605px;
	left: -30px;
	top: 70px;
}

#ipadMini-Portrait .deviceContent {
	top: 181px;
	left: 47px;
	width: 276px;
	height: 368px;
}

#galaxyS3-Portrait .deviceImage {
	width: 400px;
	height: 584px;
	left: -30px;
	top: 60px;
}

#galaxyS3-Portrait .deviceContent {
	top: 172px;
	left: 76px;
	width: 216px;
	height: 385px;
}

#nexus-Portrait .deviceImage {
	width: 350px;
	height: 611px;
	top: 30px;
}

#nexus-Portrait .deviceContent {
	top: 166px;
	left: 78px;
	width: 224px;
	height: 373px;
}

#xoom-Portrait .deviceImage {
	width: 400px;
	height: 568px;
	left: -24px;
	top: 70px;
}

#xoom-Portrait .deviceContent {
	top: 157px;
	left: 58px;
	width: 266px;
	height: 427px;
}

/*	LANDSCAPE 	*/
#iphone-Landscape .deviceImage {
	width: 450px;
	height: 301px;
}

#iphone-Landscape .deviceContent {
	top: 83px;
	left: 119px;
	width: 242px;
	height: 162px;
}

#iphone5-Landscape .deviceImage {
	width: 450px;
	height: 315px;
}

#iphone5-Landscape .deviceContent {
	top: 91px;
	left: 94px;
	width: 293px;
	height: 165px;
}

#ipad-Landscape .deviceImage {
	width: 450px;
	height: 398px;
	top: -10px;
}

#ipad-Landscape .deviceContent {
	top: 80px;
	left: 89px;
	width: 301px;
	height: 224px;
}

#ipadMini-Landscape .deviceImage {
	width: 450px;
	height: 360px;
}

#ipadMini-Landscape .deviceContent {
	top: 71px;
	left: 89px;
	width: 302px;
	height: 225px;
}

#galaxyS3-Landscape .deviceImage {
	width: 450px;
	height: 263px;
}

#galaxyS3-Landscape .deviceContent {
	top: 67px;
	left: 93px;
	width: 292px;
	height: 166px;
}

#nexus-Landscape .deviceImage {
	width: 450px;
	height: 258px;
}

#nexus-Landscape .deviceContent {
	top: 67px;
	left: 100px;
	width: 276px;
	height: 165px;
}

#xoom-Landscape .deviceImage {
	width: 450px;
	height: 317px;
}

#xoom-Landscape .deviceContent {
	top: 71px;
	left: 73px;
	width: 339px;
	height: 212px;
}

/* @end */

/* Event */

#eventContent {
	width: 100%;
	/*position: fixed;*/
	height: 100%;
}

#eventContent .boardContent {
	border: 1px solid #3C3C3C;
}

.emptyCapital {
	font-weight: bold;
	font-size: 150%;
}

.message {
	display: inline-block;
	font-weight: bold;
	padding: 0 10px;
}

.scheduleDay {
	text-align: left;
	background-color: rgba(15, 15, 15, 0.8);
	color: #DBDBDB;
}

.scheduleDay span {
	padding: 10px 0;
	display: inline-block;
}

.scheduleDay span:first-child {
	width: 20%;
	text-align: center;
	border-right: 1px solid #2E2E2E;
	box-shadow: inset -1px 0px #444;
	-moz-box-shadow: inset -1px 0px #444;
	-webkit-box-shadow: inset -1px 0px #444;
}

.scheduleDay span:last-child {
	padding: 10px;
}

.scheduleItem {
	background-color: #EEE;
	padding: 0;
	border-bottom: 1px solid #BDBDBD;
	box-shadow: 0 1px #444;
	-moz-box-shadow: 0 1px #444;
	-webkit-box-shadow: 0 1px #444;
	position: relative;
	height: 100px;
}

.scheduleItemSelectable {
	cursor: pointer;
}

.scheduleItemSelectable:hover,
.scheduleItemSelectable.scheduleItemSelected {
	background-color: #E2E2E2;
} 

.scheduleItemInvisible {
	display: none;
}

.scheduleItem p {
	margin: 0;
	padding: 0% 4%;
}

.scheduleItem img {
	width: 16px;
	vertical-align: top;
	margin: 0 2px;
}

.scheduleItem .left {
	width: 20%;
	float: left;
	height: 100%;
	background-color: #FDFDFD;
}

.scheduleItem:hover .left,
.scheduleItem.scheduleItemSelected .left {
	background-color: #FAFAFA;
}

.scheduleItem .left div,
.scheduleItem .right div {
	display: table;
	width: 100%;
	height: 100%;
}

.scheduleItem .left .upper,
.scheduleItem .left .bottom {
	height: 50%;
}

.scheduleItem .right .upper {
	height: 40%;
}

.scheduleItem .right .bottom {
	height: 60%;
}

.scheduleItem .left p,
.scheduleItem .right p,
.scheduleItem .singleButton {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.scheduleItem .left .dateBegin {
	font-weight: bold;
}

.scheduleItem .left .dateEnd {
	font-size: 80%;
}

.scheduleItem .right {
	overflow: hidden;
	height: 100%;
}

.scheduleItem .right .hint {
	padding: 0;
}

.scheduleItem .right .hint::before,
.scheduleItem .right .hint::after {
	position: absolute;
	width: 0;
	height: 0;
	content: "";
	border-style: solid;
	border-color: rgba(0, 0, 0, 0);
	pointer-events: none;
}

.scheduleItem .right .hint::before {
	top: 1px;
	right: 1px;
	border-width: 0px 25px 25px 0px;
}

.scheduleItem .right .hintApproved::before {
	border-right-color: #278D27;	
}

.scheduleItem .right .hintDenied::before {
	border-right-color: #C51F1F;	
}

.scheduleItem .right .name {
	font-size: 100%;
	font-weight: bold;
}

.scheduleItem .right .description {
	font-size: 85%;
	color: #6D6D6D;
}

.scheduleItem .right .dock {
	height: auto;
	width: auto;
	text-align: right;
	font-size: 75%;
	margin: 0;
	background-color: whiteSmoke;
	position: absolute;
	right: 0;
	bottom: 0;
	border-radius: 4px 0 0 0;
	border: 1px solid #B1B1B1;
	border-right: 0;
	border-bottom: 0;
	-webkit-box-shadow: inset 0 1px 0 white;
	box-shadow: inset 0 1px 0 white;
}

.scheduleItem .right .dock li {
	display: inline-block;
	vertical-align: middle;
	float: left;
	border-right: 1px solid #B1B1B1;
	padding: 3px;
	padding-top: 1px;
}

.scheduleItem .right .dock li:last-child {
	border: 0;
}

.scheduleItem .right .dock img {
	width: 16px;
	vertical-align: middle;
}

.scheduleItem .right .dock span {
	font-size: 100%;
	vertical-align: middle;
	margin: 0 2px;
}

.scheduleItem .right .dock .tool {
	cursor: pointer;
}

.scheduleItem .right .dock .tool:hover,
.scheduleItem .right .dock .toolSelected {
	-webkit-box-shadow: inset 1px 0px 6px 1px #ACACAC;
	box-shadow: inset 1px 0px 6px 1px #ACACAC;
}

.agendaDay {
	text-align: left;
	background-color: rgba(15, 15, 15, 0.8);
	color: #DBDBDB;
}

.agendaDay span {
	padding: 10px 0;
	display: inline-block;
}

.agendaDay span:first-child {
	text-align: center;
	width: 7.5%;
	border-right: 1px solid #2E2E2E;
	box-shadow: inset -1px 0px #444;
	-moz-box-shadow: inset -1px 0px #444;
	-webkit-box-shadow: inset -1px 0px #444;
}

.agendaDay span:last-child {
	padding: 10px;
}

.agendaItem {
	background-color: #EEE;
	padding: 0;
	border-bottom: 1px solid #BDBDBD;
	box-shadow: 0 1px #444;
	-moz-box-shadow: 0 1px #444;
	-webkit-box-shadow: 0 1px #444;
	position: relative;
	height: 50px;
}

.agendaItemHighlight {
	background-color: #D1D1D1;
	height: 200px;
}

.agendaItem p {
	margin: 0;
	padding: 0% 2%;
}

.agendaItem img {
	width: 24px;
	vertical-align: middle;
	margin: 0 2px;
}

.agendaItem span {
	font-weight: bold;
}

.agendaItem .left {
	width: 12%;
	height: 100%;
	position: absolute;
}

.agendaItem .left div,
.agendaItem .right div {
	display: table;
	width: 100%;
	height: 100%;
}

.agendaItem .left .upper,
.agendaItem .left .bottom {
	width: 50%;
	float: left;
}

.agendaItem .right .upper,
.agendaItem .right .middle {
	width: 38%;
	float: left;
}

.agendaItem .right .bottom {
	width: 24%;
	float: left;
}

.agendaItem .left p,
.agendaItem .right p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.agendaItem .left .dateBegin {
	background-color: #FDFDFD;
	font-weight: bold;
}

.agendaItem .left .dateEnd {
	background-color: whiteSmoke;
	font-size: 80%;
}

.agendaItem .right {
	width: 88%;
	left: 12%;
	height: 100%;
	position: absolute;
}

.agendaItem .right .name {
	font-size: 100%;
	font-weight: bold;
}

.agendaItem .right .description {
	font-size: 85%;
	color: #6D6D6D;
}

.agendaItem .smallPadding {
	position: relative;
	top: 4px;
}

.agendaItem .suckyVerticalAlign {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	padding: 0 5px;
}

.singleButton.toolEnroll,
.singleButton.toolEnrolled,
.singleButton.toolBoss,
.singleButton.toolExpel,
.singleButton.toolRemove {
	padding: 4px 7px;
	color: #FFF;
	background: #34348F;
	border: solid 1px #1F1F63;
	font-size: 90%;
	margin: 6px 2px;
	vertical-align: middle;
}

.singleButton.toolEnroll,
.singleButton.toolBoss {
	background: #34348F;
	border: solid 1px #1F1F63;
}

.singleButton.toolEnrolled {
	background: #429B53;
	border: solid 1px #2F693A;
}

.singleButton.toolExpel,
.singleButton.toolRemove {
	background: #EC532E;
	border: solid 1px #B44124;
}

.pickerItem td {
	padding: 0;
	font-size: 80%;
}

.pickerItem p {
	margin: 0;
}

.pickerItem img {
	cursor: pointer;
	margin-top: 4px;
	width: 24px;
}

.pickerItem input {
	padding: 4.5px;
	margin: 4px 0;
	font-size: 90%;
	text-align: center;
}

/* @end */

/* @group Marketplace */

.eventItem {
	margin: 20px 10px;
	width: 280px;
	padding: 0;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
	border: 1px solid #D3D3D3;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.22);
}

.eventItem p {
	margin: 0;
}

.eventItem input {
	padding: 4px;
	margin: 0;
	font-size: 70%;
	text-align: center;
}

.eventItem .upper {
	font-size: 120%;
	padding: 5px 20px 0 20px;
	font-weight: bold;
}

.eventItem .upper .title {
	padding: 2px 0;
}

.eventItem .middle {
	padding: 0 20px;
}

.eventItem .middle .description {
	padding: 5px 0 10px 0;
}

.eventItem .middle .dateBegin,
.eventItem .middle .dateEnd {
	padding: 5px 0;
}

.eventItem .middle .dateBegin {
	float: left;
	width: 50%;
	border-right: 1px solid #C2C2C2;
	box-shadow: inset 1px 0px 0 #FCFCFC;
}

.eventItem .middle .dateEnd {
	overflow: hidden;
}

.eventItem .middle .dayMonth {
	font-weight: bold;
	font-size: 110%;
	display: block;
}

.eventItem .middle .hourMinute {
	font-size: 80%;
}

.eventItem .bottom {
	border-top: 1px solid #C2C2C2;
	box-shadow: inset 0px 1px 0 #FCFCFC, 0px 1px 5px rgba(0, 0, 0, 0.22);
	padding: 5px 20px;
	background-color: #E2E2E2;
}

/* @end */

/* @group Data */

#dataContent .inputHeadline {
	font-size: 150%;
	text-shadow: 0 1px 1px #0b0b0b;
}

#dataContent .dataForm {
	text-align: left;
	padding: 10px 0;
}

#dataContent .dataForm p {
	margin: 10px 20px;
	display: inline-block;
	vertical-align: top;
}

#dataContent .dataForm label.error {
	margin: 2px 0 2px 15px;
	color: #C40000;
	display: block;
}

#dataContent .dataForm .inputHeader {
	display: block;
	font-size: 150%;
	font-weight: bold;
	margin: 10px 20px;
}

#dataContent .dataForm .inputTitle {
	display: block;
	margin: 0 0 2px 15px;
}

#dataContent .dataForm input {
	padding: 15px;
	border: 1px solid #A2A2A2;
	background-color: #DDD;
	font-size: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
	border-radius: 4px;
}

#dataContent .dataForm.disabled input {
	background-color: #DDD;
}

#dataContent .dataForm .upperCase {
	text-transform: uppercase;
}

#dataContent .dataForm .fullWidth {
	width: 870px;
}

#dataContent .dataForm .halfWidth {
	width: 413px;
}

#dataContent .dataForm .thirdWidth {
	width: 261px;
}

#dataContent .dataForm .miniIntro {
	vertical-align: bottom;
	margin-right: 0;
}

#dataContent .dataForm .checkBoxWrapper {
	text-align: center;
	margin: 15px 20px;
}

#dataContent .dataForm .checkBoxWrapper p {
	margin: 5px 20px;
}

#dataContent .dataForm .checkBoxWrapper input[type="checkbox"] {
	padding: 0;
	margin: 0;
	width: 20px;
}

#dataContent .dataForm .checkBoxWrapper span {
	margin: 0 0 0 10px;
}

/* @end */

/* @group Sobre Nós */

#aboutContent .boardContent {
	font-size: 110%;
	text-align: left;
	padding: 15px 0;
}

#aboutContent p {
	margin: 20px 0;
}

#aboutContent input[type="text"] {
	padding: 10px 40px;
	margin: 4px auto;
	font-size: 90%;
	width: 100%;
	text-align: left;
}

#aboutContent input[type="button"] {
	padding: 10px 40px;
	margin: 10px auto;
	display: block;
	text-align: center;
}

#aboutContent .byItself {
	font-size: 110%;
	margin-left: 40px;
	margin-right: 40px;
}

#aboutContent .byItself.rightAlign {
	text-align: right;
}

#aboutContent .curiosityBox {
	width: 50%;
	background-color: #F1F1F1;
	border: 1px solid #A2A2A2;
	box-shadow: inset 1px 1px 1px #F7F7F7, 1px 1px 5px #D6D6D6;
	padding: 12px;
	margin: 7px 30px;
}

#aboutContent .curiosityBox.leftBox {
	float: left;
	border-radius: 0 10px 10px 0;
	margin-left: 0;
	border-left: 0;
}

#aboutContent .curiosityBox.rightBox {
	float: right;
	border-radius: 10px 0 0 10px;
	margin-right: 0;
	border-right: 0;
}

#aboutContent .curiosityBox img {
	display: inline-block;
	width: 15%;
	vertical-align: top;
	margin-top: 13px;
	margin-right: 3%;
}

#aboutContent .curiosityBox .text {
	display: inline-block;
	width: 80%;
}

#aboutContent .title {
	font-size: 120%;
	font-weight: bold;
}

#aboutContent .description {
	font-size: 85%;
	color: #6D6D6D;
}

/* @end */

/* @group Sobre Nós */

#forgotContent .boardContent {
	font-size: 110%;
	text-align: left;
	padding: 15px 0;
}

#forgotContent p {
	margin: 20px 0;
}

#forgotContent input[type="text"] {
	padding: 10px 40px;
	margin: 4px auto;
	font-size: 90%;
	width: 100%;
	text-align: left;
}

#forgotContent input[type="button"] {
	padding: 10px 40px;
	margin: 10px auto;
	display: block;
	text-align: center;
}

#forgotContent .byItself {
	font-size: 110%;
	margin-left: 40px;
	margin-right: 40px;
}

#forgotContent .alert {
	display: none;
	color: #B61F1F;
	font-weight: bold;
}

/* @end */

/* @group Location */

#locationContent #mapCanvas {
	width: 100%;
	height: 600px;
	border-radius: 0 0 20px 20px;
}

#locationContent .searchLocationWrapper {
	text-align: center;
	z-index: 2;
	padding: 10px;
	margin: 0 auto;
}

#locationContent .searchLocation {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #A2A2A2;
	font-size: 110%;
	margin: 4px 0;
	text-align: center;
	width: 80%;
}

/* @end */

/* @group Register */

#registerContent .registrationComplete {
	font-size: 200%;
	text-shadow: 0 1px 1px #0b0b0b;
	display: none;
	padding-top: 20px;
}

#registerContent .registrationComplete .tip {
	font-style: italic;
	font-size: 55%;
	font-weight: normal;
	margin-top: 0;
	display: none;
}

#registerContent .registrationConflict,
#registerContent .registrationFailed {
	font-size: 140%;
	text-shadow: 0 1px 1px #0b0b0b;
	display: none;
	padding-top: 20px;
}

#registerContent .registrationComplete img,
#registerContent .registrationConflict img,
#registerContent .registrationFailed img {
	vertical-align: middle;
	padding: 10px;
}

#registerContent .box {
	padding: 0;
	margin: 40px auto;
	border-radius: 10px;
	border: 1px solid #333;
	-moz-box-shadow: inset 0px 1px 0 #919191, 1px 1px 5px #A9A9A9;
	-webkit-box-shadow: inset 0px 1px 0 #919191, 1px 1px 5px #A9A9A9;
	box-shadow: inset 0px 1px 0 #919191, 1px 1px 5px #A9A9A9;
	overflow: hidden;
}

#registerContent .identifierBox {
	width: 300px;
	font-size: 120%;
}

#registerContent .identifierBox p {
	margin: 0;
	padding: 10px;
	text-align: center;
}

#registerContent .identifierBox .identifierTitle {
	font-weight: bold;
	border-bottom: 2px solid #333;
	background-color: #C2C2C2;
}

#registerContent .identifierBox .identifierNumber {
	font-weight: bold;
	font-size: 250%;
	padding: 30px;
}

#registerContent .informationBox {
	width: 700px;
}

#registerContent .informationBox p {
	margin: 0;
	padding: 10px 25px;
	text-align: justify;
}

#registerContent .informationBox .informationTitle {
	font-weight: bold;
	border-bottom: 1px solid #333;
	background-color: #DBDBDB;
	font-size: 120%;
	text-align: center;
	box-shadow: inset 0 1px 0 #FFF, 0 1px 5px #C9C9C9;
	-webkit-box-shadow: inset 0 1px 0 #FFF, 0 1px 5px #C9C9C9;
}

#registerContent .informationBox .firstParagraph {
	padding-top: 18px;
}

#registerContent .informationBox .signature {
	text-align: left;
}

#registerContent .informationBox .reminder {
	font-style: italic;
	font-size: 90%;
	padding: 10px 25px 20px;
}

/* @end */

/* @group Offline */

#offlineContent .boardContent {
	border: 1px solid #A2A2A2;
	border-radius: 10px;
}

#offlineContent .tightWrapper {
	margin-top: 40px;
}

#offlineContent .title {
	color: #2E2E2E;
	font-size: 230%;
	text-shadow: #B4B4B4 1px 1px 0px;
}

#offlineContent .description {
	color: #888;
	font-size: 150%;
	text-shadow: #CECECE 1px 1px 0px;
	margin-bottom: 10%;
}

#offlineContent img {
	width: 30%;
	padding-bottom: 40px;
}

/* @end */

/* @group Developer */

.developerContent p {
	margin: 10px 0;
}

.developerContent .header {
	font-size: 180%;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}

.developerContent .title {
	font-size: 120%;
	font-weight: bold;
}

.developerContent .description {
	font-size: 85%;
	color: #6D6D6D;
}

.documentation {
	font-size: 100%;
}

.menuDocumentation {
	width: 20%;	
	margin: 0px auto;
	padding: 0;
	float: left;
	font-size: 120%;
}

.menuDocumentation ul {
	width: 100%;
}

.menuDocumentation li {
	padding: 10px;
	border-bottom: 1px solid #D9D9D9;
	cursor: pointer;
	border-bottom: 1px solid #C2C2C2;
	-moz-box-shadow: 0px 1px white inset;
	-webkit-box-shadow: 0px 1px #FFF inset;
	box-shadow: 0px 1px #FFF inset;
}

.menuDocumentation .optionMenuDocumentationCategory {
	font-weight: bold;
	margin-top: 50px;
}

.menuDocumentation .optionMenuDocumentationCategory:first-child {
	margin-top: 0;
}

.menuDocumentation .optionMenuDocumentationSelected,
.menuDocumentation li:hover {
	border-bottom: 1px solid #ae0000;
}

.contentDocumentation {
	font-size: inherit;
	margin: 0px auto;
	border-left: 1px solid #A2A2A2;
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.22);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.22);
	padding: 20px;
	overflow: hidden;
	text-align: justify;
}

.contentDocumentation h2 {
	margin-top: 0;
	margin-bottom: 0.5em;
}

.contentDocumentation p {
	margin: 0.5em 0;
}

.contentDocumentation pre {
	margin-left: 30px;
	padding-left: 20px;
	border-left: 1px solid #999999;
	font-size: 90%;
	word-wrap: break-word;
}

.contentDocumentation .link {
	word-wrap: break-word;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0px;
}

.contentDocumentation .link:hover {
	color: #356094;
}

.contentDocumentation ul {
	list-style: decimal;
	width: 100%;
}

.contentDocumentation li {
	margin: 0 40px;
	list-style: decimal;
}

.contentDocumentation .documentationBox {
	display: none;
	margin-right: 20px;
	min-height: 700px;
}

.contentDocumentation .documentationBoxSelected {
	display: block;
}

.contentDocumentation .documentationHeader {
	font-size: 120%;
	font-weight: bold;
	padding: 5px 0px 0px 0px;
	margin: 0;
}

.contentDocumentation .documentationFunctionBox {
	padding: 0 0 5px 30px;
}

.contentDocumentation .documentFunctionName {
	border-bottom: 1px solid #D9D9D9;
	padding: 4px 0;
}

.contentDocumentation .documentFunctionName span:nth-child(2) {
	float: right;
}

.contentDocumentation .documentFunctionName span:nth-child(2) img {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	top: -3px;
	right: 6px;
	position: relative;
}

.contentDocumentation .tryItOut {
	display: inline-block;
	vertical-align: bottom;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.contentDocumentation .documentFunctionDescription {
	margin-left: 30px;
	padding-left: 15px;
	border-left: 1px solid #999999;
	margin-top: 1em;
	margin-bottom: 1em;
}

.contentDocumentation .documentFunctionDescription img {
	width: 24px;
	vertical-align: bottom;
}

.contentDocumentation .documentationFunctionParametersBox {
	margin-left: 30px;
	padding-left: 20px;
	border-left: 2px solid #D9D9D9;
}

.contentDocumentation .documentationFunctionParametersBox sub {
	font-size: 70%;
	font-style: italic;
}

.demoDocumentation {
	display: none;
	margin: 30px 0 30px 30px;
}

.demoDocumentation div {
	padding: 5px 10px;
	border: 1px solid #DFDFDF;
	background-color: #FAFAFA;
	font-size: 90%;
	margin: 1px 0;
	text-align: left;
	width: 100%;
	border-radius: 4px;
	box-sizing: border-box;
}

.demoDocumentation input {
	color: inherit;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	font-size: inherit;
	width: 100%;
}

.demoDocumentation textarea {
	height: 300px;
}

.demoDocumentation pre,
.contentDocumentation .json {
	font-size: 80%;
	margin-left: 30px;
}

.demoDocumentation .attribute {
	border: 1px solid #9292CF;
	margin: 0 1px;
	display: inline-block;
	width: auto;
	padding: 2px;
	background-color: rgba(0, 0, 204, 0.12);
	box-shadow: inset 1px 1px 2px #FFF9F9;
}

.demoDocumentation .inert {
	padding: 2px;
	border: 0;
	background-color: transparent;
	margin: 0 1px;
	/*width: auto;*/
	border-radius: 0;
	display: inline-block;
}

.demoDocumentation .inert input {
	min-width: 44px;
}

/* @end */

/* @end */

/* @group Wrapper */

#wrapper {
	margin: 0px;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
}

#wrapper p {
	margin: 0;
	display: inline-block;
}

#wrapper.specialWrapper {
	text-align: center;
	margin: 0px auto;
	font-size: 100%;
	position: relative;
	-webkit-box-shadow: inset 0 1px 0 #E6E6E6, 0 1px 5px #646464;
	box-shadow: inset 0 1px 0 #E6E6E6, 0 1px 5px #646464;
	border-top: 1px solid #C5C5C5;
	background-color: #D8D8D8;
}

#wrapper.specialWrapper p {
	color: gray;
	padding: 10px;
	text-align: center;
}

#wrapper.specialWrapper a {
	color: gray;
	text-decoration: none;
}

#wrapper .boxes {
	width: 960px;
	margin: 0 auto;
}

#wrapper .loadingBox {
	position: fixed;
	top: 60px;
	right: auto;
	width: 960px;
	display: none;
}

#wrapper .loadingBox img {
	width: 48px;
	float: right;
}

#wrapper .errorBox {
	color: #DBDBDB;
	background-color: #572020;
	position: fixed;
	top: 80px;
	right: 10px;
	border-radius: 10px;
	padding: 12px;
	-moz-box-shadow: inset 0px 0px 1px 1px #491818, 1px 1px 5px black;
	-webkit-box-shadow: inset 0px 0px 1px 1px #491818, 1px 1px 5px black;
	box-shadow: inset 0px 0px 1px 1px #491818, 1px 1px 5px black;
	width: 250px;
	margin: 0;
	display: none;
	z-index: 997;
}

#wrapper .errorBox a {
	width: 208px;
	display: block;
	margin-top: 10px;
	color: #DBDBDB;
	padding: 6px 14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #8d3320;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	text-align: center;
	background-color: #ba5a43;
}

#wrapper .errorBox a:hover {
	border: 1px solid #773f29;
    text-decoration: none;
	background-color: #944735;
}

#wrapper .errorBox a:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	border: 1px solid #5f2d20;
	background-color: #81452e;
}


#wrapper .notificationBox {
	color: #333;
	background-color: whiteSmoke;
	position: fixed;
	bottom: 40px;
	left: 10px;
	border-radius: 5px;
	box-shadow: inset 1px 1px 2px #FFF, 1px 1px 4px #3C3C3C;
	width: 15%;
	margin: 0;
	cursor: pointer;
	text-align: center;
	display: none;
	overflow: hidden;
	z-index: 400;
}

#wrapper .notificationBox li {
	padding: 10px 20px;
	border-bottom: 1px solid white;
	-moz-box-shadow: inset 0 -1px #AFAFAF;
	-webkit-box-shadow: inset 0 -1px #AFAFAF;
	box-shadow: inset 0 -1px #AFAFAF;
}

#wrapper .notificationBox li:hover {
	background-color: #EEE;
}

/* @end */