body {
	font-size: 10px;
	min-width: 100%;
}

/* @group Bar */

.bar {
	width: 100%;
}

.bar .first {
	width: auto;
}

/* @end */

/* @group Page */

.pageContent {
	width: 100%;	
}

/* @end */

/* @group Home */

#homeContent img {
	height: 48px;
}

#homeContent .deck {
	height: auto;
}

#homeContent .leftBox {
	text-align: center;
	width: 100%;
}

#homeContent .rightBox {
	display: none;
}

/* @end */

/* @group Wrapper */

#wrapper {
	height: 48px;
}

/* @end */