body {
	font-size: 10px;
	min-width: 100%;
}

input, textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

/* @group Bar */

.bar {
	width: 100%;
}

.bar .first {
	width: auto;
	padding: 0 20px;
}

.bar .facebookBox {
	display: none;
}

.bar .middleLine {
	display: none;
}

.bar .secondary > div input[type="text"],
.bar .secondary > div input[type="password"] {
	width: 25%;
}

.bar .secondary .memberBox .singleButton {
	padding: 10px;
	height: auto;
}

/* @end */

/* @group Page */

.pageContent {
	width: 100%;	
}

/* @end */

/* @group Home */

#homeContent img {
	height: 48px;
}

#homeContent .middlePort {
	display: none;
}

#homeContent .deck {
	height: auto;
}

#homeContent .leftBox {
	text-align: center;
	width: 100%;
}

#homeContent .rightBox {
	display: none;
}

/* @end */

/* @group Wrapper */

#wrapper {
	height: 48px;
}

#wrapper .leftBar {
	float: none;
	text-align: center;
}

#wrapper .rightBar {
	display: none;
}

/* @end */